body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 80vh;
  margin: 0;
  font-size: 22px;
}

h1 {
  margin: 10px;
}

textarea {
  font-size: 22px;
}

.container {
  margin: 200px auto;
  width: 700px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.sub-container {
  height: 650px;
}

.cards {
  height: 450px;
}

.card {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  margin: 50px;
  vertical-align: middle;
  height: 350px;
  width: 600px;
}

button {
  margin: 3px;
  background: white;
  padding: 6px 15px;
  font-size: 22px;
  color: rgb(103, 103, 103);
  border: 1px solid #bbb;
  cursor: pointer;
}

button:hover {
  border: 1px solid rgb(64, 64, 64);
  color: black;
}

.arrow {
  font-size: 50px;
  font-weight: bolder;
  color: rgb(103, 103, 103);
}

.arrow:hover {
  cursor: pointer;
  color: black;
}

.right {
  text-align: right;
}
